.App {
  text-align: center;
  background-image: linear-gradient(to right, rgb(229, 241, 59) , rgb(233, 95, 14));
  height: 100vh;
  width: 100vw;
}
.full{
  height: 100vh;
}
.half{
  height: 50vh;
}
.halfer{
  height: 25vh;
  width: 27vw;
}
ul {
  list-style-type: none;
}

.side{
  height: 70px;
}
li:hover {
  background-color: #4264ff;
  color: #fff;
}